.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray;
    flex-direction: row;
}

.shopping{
    left: 40px;
    width: 80px;
    object-fit: contain;
    font-weight: bolder;
}

.nav_buttons{
    right: 40px;
    /* width: 100%; */
    object-fit: contain;
    display: flex;;
}

.button{
    margin: 5px;
}
